
.topo {

    justify-content: space-between;
    align-items: center;          
    flex-wrap: wrap;               
    padding: 15px 40px;
    display: flex;      
    width: 100%; 
}



.logo-cmc img {
    transition: transform 0.3s ease;
    height: 60px;
    
    display: block;
}

.logo-cmc img:hover {
    transform: scale(1.1);
}


.menu-cmc {
    display: flex;
    align-items: center;
    margin: 40px;
    gap: 40px; 
}

.menu-cmc .menu-item {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

.menu-cmc .menu-item:hover {
    color: #04AA6D;
}

.barra-busca button:hover {
    background-color: #03915f;
}


.box img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.box {
    border-radius: 12px;
    flex-grow: 1;
}


.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-avaliacao {
    max-width: 600px;
    width: 100%;
}


.flex-row {
    display: flex;
    align-items: stretch;
}

.w3-third {
    display: flex;
    flex-direction: column;
}
